.detail-specialty-container{
    background-color: #f9f9f9;
    font-family: 'Montserrat';
    .description-specialty{
        padding: 10px;
        //height: 30vh;
        width: 75%;
        margin: 0 auto;
        background-color: #fff;
        font-size: 14px !important;

        h1,h2,h3,h4,h5,h6{
            font-size: 18px;
            font-weight: 400;
            color:rgb(51, 122, 183);
        }

    .background-img{
        border: 1px solid rgb(255, 255, 255);
        background-image: url(https://cdn.luatvietnam.vn/uploaded/Images/Original/2020/12/24/benh-vien_2808175558_2412092857.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        .header-clinic{
            display: flex;
            //border: 1px solid red;
            margin-top: 10%;
            margin-bottom: 5%;
            box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px;
            background-color: rgba(143, 90, 90, 0.8);
            .content-left{
                width:  40%;
                background-position: center center;
                background-size: contain;
                background-repeat: no-repeat;
                width: 300px;
                height: 150px;
                //margin: 10px 20px;
            }
            .content-right{
                color: #ffffff;
                width: 60%;
                display: flex;
                margin-left: 20px;
                flex-direction: column;
                padding-left: 10px;
                font-family: 'Montserrat';
                .up{
                    padding-top: 27px;
                    font-size: 25px;
                    font-weight: 600;
                }
                .down{
                    font-size: 15px;
                    font-weight: 400;
                    padding-top: 10px;
                }
            }
        }
    }
    }
    .search-sp-doctor{
        margin: 10px 13%;
    }
    .detail-specialty-body{

    }
    .each-doctor{
        display: flex;
        width: 75%;
        border: none ;
        margin: 10px auto;
        border-radius: 10px;
        background-color: #fff;
        box-shadow:  0 1px 6px #20212447;
        .dt-content-left{
            width: 55%;
            min-height: 40vh;
            border-right: 1px solid #ddd;
            .more-infor{
                margin-top: 18px;
                margin-left: 30px ;
                font-weight: 600;
                color: #337ab7;
                &:hover{
                    cursor: pointer;
                }
            }
            .profile-doctor-container{
                margin-top: 20px;
                .intro-doctor{
                    .content-right{
                        max-width: 490px;
                    }
                }
                .price{
                    display: none;
                }
            }
        }
        .dt-content-right{
            width: 45%;
            //border: 1px solid royalblue;
            padding: 5px;
            .doctor-schedule{
                .doctor-schedule-container{
                    border-right: none !important;
                    margin-bottom: 10px;
                    .all-available-time{
                        .time-content{
                            button{
                                background-color: #eeeeee;
                                color: #333333;
                                &:hover{
                                    text-decoration: none;
                                    cursor: pointer;
                                    box-shadow: 0px 0px 0px 2px #33B0E3 inset;
                                }
                            }
                        }
                    }
                }
                border-bottom: 1px solid rgb(142, 142, 142);
            }
            .doctor-extra-infor{
                margin-top: 20px;
                .doctor-extra-infor-container{
                    padding-left: 0 !important;
                    .content-up{
                        .name-clinic{
                            font-weight: unset !important;
                        }
                        .detail-address{
                            font-weight: unset !important;
                        }
                    }
                    .content-down{
                        span{
                            font-weight: unset !important;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}