.specialty-child{
    cursor: pointer;
    .specialty-name{
        padding: 10px 0;
        font-family: 'Montserrat';
        font-size: 15px;
        font-weight: 450;
        &:hover{
            color: #45d3c2;
        }
    }
}